//font
@mixin xxx-large{
    font-size: 3.75em;
    color: $black;
    font-weight: bold;
    
}
@mixin xx-large{
    font-size: 1.5625em;
    font-weight: bold;
    color: $black;
    
}
@mixin x-large{
    font-size: 1.25em;
    font-weight: bold;
    color: $black;
    
}
@mixin large{
    font-size: 1.125em;
    font-weight: 400;
    color: $grey;
}
@mixin medium{
    font-size: 1em;
    font-weight: 400;
    color: $grey;
}
@mixin small{
    font-size: 0.875em;
    font-weight: 400;
    color: $grey;
}
@mixin x-small{
    font-size: 0.75em;
    font-weight: 400;
    color: $grey;
}