//font
@mixin xxx-large{
    font-size: 60px;
    color: $black;
    font-weight: bold;
    
}
@mixin xx-large{
    font-size: 25px;
    font-weight: bold;
    color: $black;
    
}
@mixin x-large{
    font-size: 20px;
    font-weight: bold;
    color: $black;
    
}
@mixin large{
    font-size: 18px;
    font-weight: 400;
    color: $grey;
}
@mixin medium{
    font-size: 16px;
    font-weight: 400;
    color: $grey;
}
@mixin small{
    font-size: 14px;
    font-weight: 400;
    color: $grey;
}
@mixin x-small{
    font-size: 12px;
    font-weight: 400;
    color: $grey;
}